<% layout('layouts/boilerplate')%>
<div>
  <h1>Something went wrong!</h1>
  <p>Unfortunately, something went wrong - please try again later.</p>
  <p><a class="btn" href="/playgrounds">Back to safety!</a></p>
</div>