<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>2bit style map</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" /> -->

    <link rel="stylesheet" href="../public/css/landingpage.css">
    <script src="https://kit.fontawesome.com/cb28a685ae.js" crossorigin="anonymous"></script>


    <title>My playground in Dusseldorf</title>
</head>


<body>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="people-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </symbol>
    </svg>

    <main>
        <div class="top-container">
            <nav class="navbar fixed-top navbar-light">
                <a class="navbar-brand" href="#"></a>
                <div class="input-group px-3 d-lg-none d-xl-none">
                    <input type="text" class="form-control rounded-pill my-1" placeholder="Where do you want to play?"
                        aria-label="Example text with button addon" aria-describedby="button-addon1" id="searchBar">
                </div>
                <div class="modal-dialog modal-fullscreen-sm-down"></div>

            </nav>
        </div>

        <nav class="navbar fixed-bottom navbar-light bg-light d-lg-none d-xl-none">
            <div class="container-fluid">
                <ul class="navbar-nav mx-auto my-0 d-flex flex-row">
                    <li class="nav-item text-center mx-2">
                        <a class="nav-link" href="#">
                            <div>
                                <i class="fas fa-lg fa-search"></i>
                            </div>
                            <h6>Explore</h6>
                        </a>
                    </li>

                    <li class="nav-item text-center mx-2">
                        <a class="nav-link" href="#">
                            <div>
                                <i class="fas fa-lg fa-plus-circle"></i>
                            </div>
                            <h6>Contribute</h6>
                        </a>
                    </li>

                    <li class="nav-item text-center mx-2">
                        <a class="nav-link" href="#">
                            <div>
                                <i class="far fa-lg fa-user-circle"></i>
                            </div>
                            <h6>Login</h6>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>



        <!-- <nav class="navbar navbar-expand-lg navbar-light px-3 d-none d-lg-block d-xl-block" id="navbar">
                <a class="navbar-brand text-dark" href="#"> <img id="navbar-logo" src="../public/images/playground.png"
                        width="30" height="30" alt=""></a>
    
                <a href="" class="d-none d-lg-block d-xl-block">my favourite playground</a>
    
                <div class="d-inline-flex">
                    <a href="#" class="nav-link d-lg-none " id="acountIcon">
                        <svg width="24" height="24">
                            <use xlink:href="#people-circle" />
                        </svg>
    
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                </div>
    
    
    
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Explore</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
    
                    <div class="d-none d-lg-block d-xl-block">
                        <button type="button" class="btn btn-primary me-2">Login</button>
                        <button type="button" class="btn btn-warning ">Sign-up</button>
                    </div>
    
    
            </nav> -->


        <div class="d-lg-none d-xl-none bg-image">
            <img src="../public/images/wilbur-wong-w6n_GLhIzG4-unsplash-small.jpg" class="img-fluid"
                alt="Responsive image">

            <div
                class="d-flex justify-content-center align-items-center position-absolute bottom-0 start-50 translate-middle-x text-white">
                <div class="text-white text-center mb-5 pb-5">
                    <h2>Planning the next trip?</h2>
                    <a class="btn btn-light btn-md rounded-pill" href="#!" role="button">
                        Get inspired
                    </a>
                </div>



            </div>
        </div>







        <!-- <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">New parent in
                    Duesseldorf?</h1>

                <a class="btn btn-outline-light btn-lg" href="#!" role="button">Explore
                    playgrounds</a>
            </div>
        </div>
        </div> -->


        <!-- <h1 class="position-absolute bottom-50 start-50 translate-middle-x text-white">New parent in
            Duesseldorf?
        </h1>
        <p class="lead">
            <button class="btn-light border-1 rounded-pill">Explore
                playgrounds</button>
        </p> -->


        </div>

        </div>



        <div class=" column-container mx-3 my-3">

            <h3>Top rated playgrounds in Duesseldorf</h3>

            <div class="container my-5">
                <!-- Carousel wrapper -->
                <div id="carouselBasicExample" class="carousel slide carousel-dark text-center"
                    data-mdb-ride="carousel">
                    <!-- Controls -->
                    <div class="d-flex justify-content-center mb-4">
                        <button class="carousel-control-prev position-relative" type="button"
                            data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next position-relative" type="button"
                            data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <!-- Inner -->
                    <div class="carousel-inner py-4">
                        <!-- Single item -->
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="card">
                                            <img src="https://mdbootstrap.com/img/new/standard/nature/181.jpg"
                                                class="card-img-top" alt="..." />
                                            <div class="card-body">
                                                <h5 class="card-title">Playground 3</h5>
                                                <p class="card-text">
                                                    Some quick example text to build on the card title and
                                                    make up the bulk of the card's content.
                                                </p>
                                                <a href="#!" class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 d-none d-lg-block">
                                        <div class="card">
                                            <img src="https://mdbootstrap.com/img/new/standard/nature/182.jpg"
                                                class="card-img-top" alt="..." />
                                            <div class="card-body">
                                                <h5 class="card-title">Playground 2</h5>
                                                <p class="card-text">
                                                    Some quick example text to build on the card title and
                                                    make up the bulk of the card's content.
                                                </p>
                                                <a href="#!" class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 d-none d-lg-block">
                                        <div class="card">
                                            <img src="https://mdbootstrap.com/img/new/standard/nature/183.jpg"
                                                class="card-img-top" alt="..." />
                                            <div class="card-body">
                                                <h5 class="card-title">Playground 3</h5>
                                                <p class="card-text">
                                                    Some quick example text to build on the card title and
                                                    make up the bulk of the card's content.
                                                </p>
                                                <a href="#!" class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single item -->
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <div class="card">
                                            <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                                                class="card-img-top" alt="..." />
                                            <div class="card-body">
                                                <h5 class="card-title">Playground 1</h5>
                                                <p class="card-text">
                                                    Some quick example text to build on the card title and
                                                    make up the bulk of the card's content.
                                                </p>
                                                <a href="#!" class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 d-none d-lg-block">
                                        <div class="card">
                                            <img src="https://mdbootstrap.com/img/new/standard/nature/185.jpg"
                                                class="card-img-top" alt="..." />
                                            <div class="card-body">
                                                <h5 class="card-title">Playground 2</h5>
                                                <p class="card-text">
                                                    Some quick example text to build on the card title and
                                                    make up the bulk of the card's content.
                                                </p>
                                                <a href="#!" class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 d-none d-lg-block">
                                        <div class="card">
                                            <img src="https://mdbootstrap.com/img/new/standard/nature/186.jpg"
                                                class="card-img-top" alt="..." />
                                            <div class="card-body">
                                                <h5 class="card-title">Playground 3</h5>
                                                <p class="card-text">
                                                    Some quick example text to build on the card title and
                                                    make up the bulk of the card's content.
                                                </p>
                                                <a href="#!" class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single item -->
                        <div class="carousel-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                        <div class="card">
                                            <img src="https://mdbootstrap.com/img/new/standard/nature/187.jpg"
                                                class="card-img-top" alt="..." />
                                            <div class="card-body">
                                                <h5 class="card-title">Playground 2</h5>
                                                <p class="card-text">
                                                    Some quick example text to build on the card title and
                                                    make up the bulk of the card's content.
                                                </p>
                                                <a href="#!" class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                                        <div class="card">
                                            <img src="https://mdbootstrap.com/img/new/standard/nature/188.jpg"
                                                class="card-img-top" alt="..." />
                                            <div class="card-body">
                                                <h5 class="card-title">Playground 2</h5>
                                                <p class="card-text">
                                                    Some quick example text to build on the card title and
                                                    make up the bulk of the card's content.
                                                </p>
                                                <a href="#!" class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 mb-4 mb-lg-0 d-none d-lg-block">
                                        <div class="card">
                                            <img src="https://mdbootstrap.com/img/new/standard/nature/189.jpg"
                                                class="card-img-top" alt="..." />
                                            <div class="card-body">
                                                <h5 class="card-title">Playground 3</h5>
                                                <p class="card-text">
                                                    Some quick example text to build on the card title and
                                                    make up the bulk of the card's content.
                                                </p>
                                                <a href="#!" class="btn btn-primary">Button</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Inner -->
                </div>
                <!-- Carousel wrapper -->
            </div>




        </div>

        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam fugit ullam ducimus fugiat, odio
        nostrum
        fuga quos sint assumenda qui, quasi rerum eaque voluptas, quod obcaecati dolore? Voluptatum, incidunt
        dolores.
        Laboriosam voluptatum tempore, voluptatibus a velit possimus tenetur id, nobis dolore quos excepturi
        blanditiis quidem dolor hic ipsam reprehenderit alias tempora natus minima? Dolor, asperiores?
        Exercitationem et facilis error unde?
        Quam, provident alias. Cumque, ex voluptas perspiciatis iusto nisi exercitationem tempora consequuntur,
        saepe praesentium voluptate voluptatem repellendus possimus debitis! Quod reiciendis minus quas
        necessitatibus dolorem ipsum incidunt asperiores itaque dignissimos.
        Architecto itaque nemo dignissimos inventore magnam, distinctio explicabo aut cum voluptatibus nulla
        sed?
        Sit quos inventore minus blanditiis impedit a quam voluptatibus provident, totam quia, ea aspernatur aut
        ab
        velit.
        Neque, voluptas fuga vero error laboriosam obcaecati commodi velit excepturi est minus fugit nam,
        officia
        eos odit nobis! Accusamus cupiditate modi ab inventore, dolorum cum sint iste laudantium molestiae
        possimus?
        Ipsam praesentium nulla, dolorum necessitatibus provident tempora officiis ab cumque, veniam harum autem
        temporibus incidunt minima eius debitis alias, eligendi sit illum qui quisquam error. Facere sequi
        dignissimos quasi distinctio.
        Assumenda, libero optio earum repudiandae vitae molestiae odit autem incidunt in. Quisquam dolores a rem
        officia, omnis praesentium nulla optio aspernatur nostrum ex fugiat laboriosam animi architecto alias
        porro
        eius?
        Fugit, at. In doloremque, nam eveniet assumenda natus voluptatem suscipit adipisci eos, labore quia
        tempora
        quibusdam deserunt a qui dolor architecto, excepturi cupiditate! Hic dolore voluptatibus, repellat ipsa
        animi voluptate?
        Cupiditate esse reiciendis odit nostrum voluptates assumenda iusto, possimus quam vero quo quos eius
        quisquam commodi, porro unde architecto itaque ullam molestias voluptatem expedita? Quam dolorem
        eligendi
        incidunt fuga eos.
        Delectus quasi laudantium alias, fugiat velit commodi maxime. Aliquid pariatur voluptas praesentium
        ducimus
        quibusdam unde impedit, quo possimus iste architecto doloremque minima dignissimos accusamus, rem,
        obcaecati
        voluptatem est? Doloremque, qui.


    </main>
    </div>





    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">All rights reserved.</span>
        </div>
    </footer>




    <script src="../public/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>



    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARgDXNRDqAFtg-mDbjeTrLOjrm1LBQwCc&libraries=places&callback=initAutocomplete"></script>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARgDXNRDqAFtg-mDbjeTrLOjrm1LBQwCc&map_ids=546de97e85a128a6&callback=initMap"></script>






</body>

</html>