h1, h2, h3, h4, h5 {
    font-family: Montserrat, sans-serif;
    color: #074266;
    display: inline-block;
}

h1 {
    padding: 0px 20px 10px 20px;
}

textarea {
    max-width: 100%;
    resize: none;
}

ul {
    padding-left: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

hr {
    border-top: 1px solid #0742664b;
}

.text-justify {
    text-align: justify !important;
}


.container-fluid {
    margin-top: 70px;

}

.playground-rating {
    font-size: 20px;

}

.tag {
    background: white;
    color: #074266;
    font-family: Montserrat, sans-serif;
    border: solid 1px #074266;
    border-radius: 25px;
    padding: 5px;
    margin: 0px 5px 5px 0px;
    font-style: bold;
    display: inline-block;

}

.tag:hover {
    color: #4EA599;
    border: solid 1px #4EA599;

}

#featureTags {
    display: flexbox;
    justify-content: space-around;
}
div.littleTags>a {
    color: #074266;
    text-decoration: none !important;
}

.littleTags {
    border: solid 1px #074266;
    border-radius: 25px;
    padding: 5px;
    margin: 0px 5px 5px 0px;
    color: #074266;
    background: none;
    font-style: bold;
    display: inline-block;
}

.littleTags:hover {
    color: #4EA599;
    border: solid 1px #4EA599;
}
div.littleTags>a:hover {
    color: #4EA599;
}

/* navbar */

div label{
    color: rgba(0,0,0,.55);
}

#selectSearchRadius{
    color: rgba(0,0,0,.55);
    border-radius: 1rem ;
    border-style: hidden;
    -webkit-border-radius: 1rem ;
    -moz-border-radius: 1rem ;
    -ms-border-radius: 1rem ;
    -o-border-radius: 1rem ;
}

.col-6 {
    /* background-color: #78C2AD; */
    width: 50%;
    display: flex;
    justify-content:center ;
    align-items: center;
}

#autocomplete2{
    margin: 1rem 1rem 1rem;
    border-radius: 2rem;
    width: 15rem;
    height: 3rem;
    border-style: double;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}


.d-grid{
    background-color: #78C2AD;
    
}
.navbar{
    background-color: #78C2AD;
}


#mainNavbar {
    background-color: #78C2AD;
    font-size: 1.2rem;
    font-family: Montserrat, sans-serif;
}

#mainNavbar .nav-link {
    color: white;
    font-weight: 100;
}

#mainNavbar .nav-link:hover {
    color: #FFBA08;
    transition-property: color;
    transition-duration: 0.5s;

}

#mainNavbar .navbar-brand {
    color: #032B43;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 15px;
}

#navbar-logo {
    height: 52px;
    background-color: #78C2AD;
}

#nav-header {
    cursor: default;
}

#btn-login, #btn-signup {
    background: #4ea599;
    color: white;
    font-weight: 200;
    font-size: 1.2rem;
}

#btn-login:hover, #btn-signup:hover {
    background: #90CBC3;
    color: #032B43;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.btn-collapse {
    font-weight: 700;
    color: #4ea599;
}

.btn-collapse:hover {
    color: #074266;
    cursor: pointer;
    transition-property: background, color;
    transition-duration: 0.2s
}

.btn-plus {
    color: #FFBA08;
}

.btn-plus:hover {
    color: #4ea599;
    cursor: pointer;
    transition-property: background, color;
    transition-duration: 0.2s
}

.deleteEventBtn, #editEventButton, #deleteLostFoundButton, #editLostFoundButton, .editReviewBtn, .deleteReviewBtn {
    margin: 0px;
    padding: 0px;
    box-sizing: none;
}

#editEventButton:hover, #editLostFoundButton:hover, .editReviewBtn:hover{
    color: #FFBA08;
}

.deleteEventBtn:hover, #deleteLostFoundButton:hover, .deleteReviewBtn:hover {
    color: #FF5C5C;
}


.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 2.5rem;
    font-size: 3rem;
    color: #FFBA08;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.bi-star, .bi-star-fill, .bi-star-half {
    color: #FFBA08;
    fill: #FFBA08;
    display: inline-block;
    margin: -3px;
}

.playground-rating {
    display: inline-block;
    margin-left: 10px;
}

#playgroundDetails {
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 5px;
    border: 2px solid #ffb908a9;
    background-color: white;
}


.fa-map-location-dot {
    font-size: 1.5rem;
    margin-left: 10px;
}


#carouselIndicators {
    margin: 10px 0;
    border: 1px solid #032B43;
    border-radius: 5px;
    position: relative;
}

.carousel-inner {
    max-height: 460px;
}

#event-header, #lostfound-header, #review-header {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 10px;
}

.row.link {
    margin-left: 0px;
    padding-left: 0px;
}

.card-body {
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1)
}

.card {
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1)
}

.delete{
    color: #032B43;
}

.card-text {
    line-height: 1.5rem;
    font-family: Montserrat, sans-serif;
}

.card-title {
    text-decoration: underline;
}

.comment-text {
    font-size: 14px
}

.fs-10 {
    font-size: 14px
}

.comment-header {
    color: #4ea599;
    display: inline;
}

#eventName, #eventInfo {
    display: block;
}


.form-check-label {
    font-family: Montserrat, sans-serif;
    color: #074266;
    display: inline-block;
    font-size: 1.1rem;
}


.link {
    text-decoration: none;
    padding: 10px;
    margin: 0px;
}

.user-text {
    color: #3F88C5;
}

.link:hover {
    text-decoration: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.day {
    font-family: Montserrat, sans-serif;
    color: #074266;
    font-size: 1.8rem;
}

.month {
    font-family: Montserrat, sans-serif;
    color: #07426694;
    font-size: 1rem;
}


.time, .location {
    line-height: 1.2rem;
    color: #07426694;

}


.thumbnail {
    height: 80px;
    width: 80px;
}

#statuslost {
    font-weight: 400;
    font-size: 1.3rem;
    color: #FF5C5C;
}

#statusfound {
    font-weight: 400;
    font-size: 1.3rem;
    color: #4EA599;
}

#addphoto {
    z-index: 1;

}

.chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}

.chip.chip-md .close {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}

.center {
    text-align: center;
}

.bi-heart:hover {
    color: #FF5C5C;
}

.bi-chat-right-text:hover {
    color: #4EA599;
}

#postReview, #postComment {
    width: max-content;
    align-self: end;
    line-height: 1rem;
}


@media(max-width:986px){

    .navbar{
        padding: 2px 1px;
        background-color: #78C2AD;
        
    }

    .nav-item{
        padding: 0%;
        margin: 0%;
    }

    #autocomplete2{
        width: 40%;
    }
}

@media(max-width: 828px){
    #autocomplete2{
        padding: 15px 0 15px;
        margin: 15px 5px  20px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
}

@media  (max-width: 768px ) {
    #mainNavbar {
        background-color: #78C2AD;
        font-size: 1.2rem;
        font-family: Montserrat, sans-serif;
    }
}



@media (max-width: 800px) {
    #statuslost {
        font-weight: 500;
        font-size: 1rem;
        color: #FF5C5C;
        letter-spacing: -2px;
    }

    #statusfound {
        font-weight: 500;
        font-size: 1rem;
        color: #4EA599;
        letter-spacing: -2px;
    }
}