h1, h2, h3, h4, h5 {

    font-family: Montserrat, sans-serif;
    color: #074266;
    display: inline-block;
}

h1 {
    padding-top: 30px;
}

.container-fluid {
    padding: 50px 4% 0 4%;
}

.tag {
    border: 1px black solid;
    border-radius: 5px;
    background: #3F88C5;
    padding: 5px;
    margin: 0px 10px 10px 0px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-style: italic;
    display: inline-block;
}

#mainNavbar {
    background: #4ea599;
    font-size: 1.5rem;
    font-family: Montserrat, sans-serif;
}

#mainNavbar .nav-link {
    color: white;
    font-weight: 100;
}

#mainNavbar .nav-link:hover {
    color: #FFBA08;
    transition-property: color;
    transition-duration: 0.5s;

}

#mainNavbar .navbar-brand {
    color: #032B43;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 15px;
}

body {
    background: #fffaf4;
}

#btn-login, #btn-signup {
    background: #4ea599;
    color: white;
    font-weight: 200;
    font-size: 1.5rem;
}

#btn-login:hover, #btn-signup:hover {
    background: #90CBC3;
    color: #032B43;
    transition-property: background, color;
    transition-duration: 0.5s;
}

.btn-collapse {
    font-weight: 700;
    color: #4ea599;
}

.btn-collapse:hover {
    color: #074266;
    cursor: pointer;
    transition-property: background, color;
    transition-duration: 0.2s
}

.btn-plus {
    color: #FFBA08;
}

.btn-plus:hover {
    color: #4ea599;
    cursor: pointer;
    transition-property: background, color;
    transition-duration: 0.2s
}

.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 40px;
    font-size: 3rem;
    color: #FFBA08;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.rating-fixed {
    color: #FFBA08;
    fill: #FFBA08;
    display: inline-block;
}


.card-body {
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 10px;
    border: 2px solid #ffb908a9;
}

.card-text {
    line-height: 1.5rem;
    font-family: Montserrat, sans-serif;
}

.link {
    color: #3F88C5;
}

#carouselIndicators {
    margin: 10px 0;
    border: 1px solid #032B43;
    border-radius: 5px;
    position: relative;

}

.carousel-inner {
    max-height: 460px;
}

#event-header, #lostfound-header {
    margin-top: 30px;
    margin-right: 20px;
}

#addphoto {
    color: #ffb908;
    position: relative;
    z-index: 1;
    left: 86%;
    top: 8%;
}

#navbar-logo {
    height: 52px;
}


.card {
    border: none;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03)
}

.comment-text {
    font-size: 0.875rempx
}

.fs-10 {
    font-size: 0.875rempx
}

.comment-header {
    color: #4ea599;
}

#eventName, #eventInfo {
    display: block;
}

#eventForm {
    padding: 10px 50px 10px 50px;
}

.eventBtn {
    opacity: 0;
}
  
tr:hover .eventBtn {
    opacity: 1;
}
