

/* #nav-landpage{
  background-color: #4ea599;
} */

/* .btn #searchbtn{

} */

.pac-container {
  z-index: 1061 !important;
  position: relative;
  
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #4ea599;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.swiper-slide {
  width: 80%;

}


.mx-3 h2{
  justify-content: center;
  display: flex;
  padding: 1rem;
  position: relative;
  top: -5px;
}



@media screen and (max-width: 425px) {
  .bg-image{

    background-image: url(../../images/base/wilbur-wong-w6n_GLhIzG4-unsplash-small.jpg);
  
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  }

/* .bg-white{
  background-color: #4ea599;
} */

  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 1rem;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  /* 
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  
  .swiper-slide {
    width: 80%;
  
  }
}


/* small screen background image with search bar on top, text, button get inspired, footer with explore contribute and login  */

@media screen and (min-width: 426px) {
  .bg-image{

    background-image: url(../../images/base/wilbur-wong-w6n_GLhIzG4-unsplash-lg.jpg);
  position: relative;
  top: 60px;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  }

  .mx-3 h2{
    padding: 1rem;
  }


  .swiper {
    width: 100%;
    height: 100%;

  }
  
  .swiper-slide {
    text-align: center;
    font-size: 1rem;
    background: #fff;
    
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  /* 
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  
  .swiper-slide {
    width: 50%;
  
  }


  

}


@media screen and (min-width: 769px) {
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 1rem;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  /* 
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  
  .swiper-slide {
    width: 20%;
  
  }


}

