<footer class="footer py-3 mt-auto bg-primary text-light d-flex">
    <div class="container-fluid">
        <span>&copy; Düsseldorf Playgrounds 2022</span>  
    </div>
    <div class="container-fluid">
        <ul class="nav justify-content-end list-unstyled d-flex me-1">
            <li class="mx-2"><a class="text-light" href="#instagram"><i class="fab fa-instagram"></i></a></li>
            <li class="mx-2"><a class="text-light" href="#facebook"><i class="fab fa-facebook"></i></i></a></li>
            <li class="mx-2"><a class="text-light" href="#twitter"><i class="fab fa-twitter"></i></i></a></li>
        </ul>        
    </div>
</footer>