.pac-container {
  z-index: 2000 !important;
  position: relative;
}




#mapButton {
  margin-bottom: 120px;
}

#sticky-map {
  position:sticky;
  top: 1px;
  

}



@media screen and (max-width: 425px) {
  .bg-image{
    background-image: url(../public/images/wilbur-wong-w6n_GLhIzG4-unsplash-lg.jpg);
    height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  }

  #mapInResultPage {

    height: 50vh;
       
  }
}

@media screen and (min-width: 426px) {
  .bg-image{

    background-image: url(../public/images/wilbur-wong-w6n_GLhIzG4-unsplash-lg.jpg);
  
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  }

  #mapInResultPage {

    height: 50vh;
    
  }
}


@media screen and (min-width: 768px ) { 

  #mapInResultPage {

    height: 50vh;
         
  }

  
  
}


@media screen and (min-width: 1024px ) { 

  #mapInResultPage {

    height: 100vh;

            
  }

  #resultsInLaptopView {
    position: relative;
    left: 600px;
    
  }

  
  
}


